*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.activeLink {
    color: #ff0000 !important;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}